html,
body {
    margin: 0;
    padding: 0;
    background-color: #303030;
}

h1 {
    margin: 0;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.spacer {
    flex: 1;
}

.bold-text {
    font-weight: bold;
}